*.[oa]
*.[sl][oa]
*.gc[dn][oa]
gmon.out
Makefile
config.log
config.cache
config.status
config.h
makefile.dep
libtool
*.pc
*.py[co]
.*.swp
.deps/
.libs/
.svn/
stamp-h1
/libdnet-stripped/dnet-config
/nbase/nbase_config.h
/ncat/ncat
/ncat/test/addrset
/ncat/test/test-cmdline-split
/ncat/test/test-uri
/ncat/test/test-wildcard
/ndiff/build/
/nmap
/nmap_config.h
/nping/nping
/nping/nping_config.h
/nsock/include/nsock_config.h
/nsock/tests/tests_main
/zenmap/build/
/zenmap/INSTALLED_FILES
TAGS
autom4te.cache/
/libpcap/*.3pcap
libpcap/version.c
libpcap/version.h
libpcap/libpcap.so.1.2.1
libpcap/net
libpcap/pcap-config
libpcap/pcap-filter.manmisc
libpcap/pcap-linktype.manmisc
libpcap/pcap-savefile.manfile
libpcap/pcap-tstamp.manmisc
libpcap/pcap_version.h
libpcap/grammar.y
libssh2/src/libssh2_config.h
libssh2/lib/
libpcre/pcre-config
ndiff/INSTALLED_FILES
libz/contrib/vstudio/vc11/Debug_lib/
libz/contrib/vstudio/vc11/Release_lib/
libz/zconf.h
libz/configure.log
/liblua/lua
/liblua/luac
!liblinear/Makefile
!liblinear/blas/Makefile
!liblua/Makefile
!macosx/Makefile
!mswin32/Makefile
!zenmap/share/zenmap/locale/Makefile
