# Makefiles
Makefile
!liblinear/Makefile
!liblinear/blas/Makefile
!liblua/Makefile
!macosx/Makefile
!mswin32/Makefile
!zenmap/share/zenmap/locale/Makefile

*.[oa]
*.[ip]db
*.[sl][oa]
*.gc[dn][oa]
*.pc
*.py[co]
*~
.*.swp
*.vcxproj.user
*.suo
*.ncb
*.egg-info
*.lib

.deps/
.libs/
.svn/
.vs/
autom4te.cache/
Debug/
Release/

TAGS
config.cache
config.h
config.log
config.status
gmon.out
libtool
makefile.dep
stamp-h1
.dirstamp
.dep.inc

/nmap
/nmap_config.h

/libdnet-stripped/dnet-config
/libdnet-stripped/dnet.dir

/liblua/lua
/liblua/luac

/libpcap/*.3pcap
/libpcap/*.manmisc
/libpcap/bpf_filter.c
/libpcap/grammar.y
/libpcap/libpcap.so.*
/libpcap/libpcap.*.dylib
/libpcap/net
/libpcap/pcap-config
/libpcap/pcap_version.h
/libpcap/version.c
/libpcap/version.h
/libpcre/pcre2-config
/libpcre/src/pcre2.h
/libpcre/src/pcre2_chartables.c

/libssh2/lib/
/libssh2/src/libssh2_config.h
/libssh2/win32/Debug_dll
/libssh2/win32/Release_dll

/libz/configure.log
/libz/contrib/vstudio/vc11/Debug_lib/
/libz/contrib/vstudio/vc11/Release_lib/
/libz/contrib/masmx86/*.lst
/libz/contrib/vstudio/vc1?/x86
/libz/contrib/vstudio/vc1?/x64
/libz/zconf.h

/macosx/*.tar.gz
/macosx/*.dmg
/macosx/COPYING.formatted
/macosx/LICENSE.formatted
/macosx/*.app
/macosx/*-root
/macosx/*.pkg
/macosx/*-build

/mswin32/LICENSE
/mswin32/LICENSE.formatted
/mswin32/Release-oem/
/mswin32/VC_redist.x86.exe
/mswin32/build-pcre2/
/mswin32/ipch
/mswin32/make-vars.make
/mswin32/msbuild.log
/mswin32/nmap-[0-9]*/
/mswin32/nmap.opensdf
/mswin32/nmap.sdf
/mswin32/nmap/
/mswin32/npcap-*.exe

/nbase/nbase_config.h
/nbase/test/*.exe
/nbase/test/*.obj

/ncat/ncat
/ncat/test/addrset
/ncat/test/test-cmdline-split
/ncat/test/test-uri
/ncat/test/test-wildcard

/ndiff/INSTALLED_FILES
/ndiff/build/
/ndiff/dist/

/nping/nping
/nping/nping_config.h
/nsock/examples/nsock_telnet
/nsock/examples/nsock_test_timers
/nsock/include/nsock_config.h
/nsock/tests/tests_main
/tests/*_test

/zenmap/INSTALLED_FILES
/zenmap/zenmap.py
/zenmap/ndiff.py
/zenmap/build/
/zenmap/dist/
/zenmap/install_scripts/windows/dist/
/zenmap/install_scripts/windows/pkg/
/zenmap/install_scripts/windows/src/
/zenmap/install_scripts/windows/styrene/
/zenmap/install_scripts/windows/*.pkg.tar.zst
/zenmap/install_scripts/windows/tmp.cfg
/zenmap/zenmapCore/data/locale/*/

.xcode-products/

.xcode-products/

# Local Xcode user state
NmapMac.xcodeproj/project.xcworkspace/xcuserdata/
NmapMac.xcodeproj/xcuserdata/

# Local overlay copy
NmapMacXcodeOverlay/

# Local libpcap generated file
libpcap/pcap-savefile.manfile

# Local release artifacts
dist/
