*.[oa]
*.[sl][oa]
*.gc[dn][oa]
*.py[co]

nmap_config.h
Makefile
autom4te.cache
config.status
config.h
nmap-update
config.log
makefile.dep
nmap
TAGS
Debug
Release

libdnet-stripped/dnet-config
libdnet-stripped/libtool
libdnet-stripped/libdnet-stripped.lib
libdnet-stripped/include/stamp-h1
libdnet-stripped/src/.libs

liblua/liblua.lib

libnetutil/libnetutil.lib

libpcap/version.c
libpcap/version.h
libpcap/net/bpf/bpf_filter.c
libpcap/libpcap.so.*
libpcap/libpcap.*.dylib
libpcap/pcap-config
libpcap/*.3pcap
libpcap/pcap-filter.manmisc
libpcap/pcap-linktype.manmisc
libpcap/pcap-savefile.manfile
libpcap/pcap-tstamp.manmisc
libpcap/net

libpcre/pcre-config
libpcre/stamp-h1
libpcre/.deps
libpcre/libpcre.lib

mswin32/ipch
mswin32/nmap.sdf
mswin32/nmap.opensdf
mswin32/nmap.suo
mswin32/nmap.rc
mswin32/LICENSE
mswin32/nmapbuild.log
mswin32/nsis/Nmap.nsi

nbase/nbase_config.h
nbase/nbase.lib
nbase/test/*.exe
nbase/test/*.obj

ncat/ncat
ncat/ncat.ncb
ncat/ncat.suo
ncat/test/addrset.c
ncat/test/test-cmdline-split.c
ncat/test/test-uri.c
ncat/test/test-wildcard.c

ndiff/build

nping/nping_config.h
nping/nping
nping/nping.ncb
nping/nping.suo
nping/.dep.inc

nsock/nsock.lib
nsock/examples/nsock_telnet
nsock/examples/nsock_test_timers
nsock/include/nsock_config.h
nsock/src/config.log
nsock/src/libnsock.a

zenmap/INSTALLED_FILES
zenmap/build
zenmap/dist
zenmap/win_install.log
