[Desktop Entry]
Encoding=UTF-8
Name=NmapFE
GenericName=Security Scanner
Comment=GUI frontend for Nmap security/port scanner
Version=1.0
TryExec=nmapfe
Exec=nmapfe
Icon=icon-network
Terminal=false
Type=Application
Categories=Application;Network;System;Security;GTK