#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@ --with python3

override_dh_auto_build:
	cd zenmap/linux && python3 -m build

override_dh_auto_install:
	cd zenmap/linux && pip install --no-index --find-links=dist/ . --prefix=/usr --root=$(CURDIR)/debian/tmp
	install -Dpm 0644 docs/zenmap-native.1 debian/tmp/usr/share/man/man1/zenmap-native.1
	install -Dpm 0644 zenmap/linux/data/org.nmap.ZenmapNativeLinux.desktop debian/tmp/usr/share/applications/org.nmap.ZenmapNativeLinux.desktop
	install -Dpm 0644 zenmap/zenmapCore/data/pixmaps/zenmap.png debian/tmp/usr/share/icons/hicolor/256x256/apps/zenmap.png

override_dh_install:
	dh_install
	rm -f debian/zenmap-native/usr/bin/uninstall_zenmap-native

override_dh_auto_test:
	python3 -c "import zenmap.linux.native.app"
	desktop-file-validate debian/tmp/usr/share/applications/org.nmap.ZenmapNativeLinux.desktop
