[Desktop Entry]
Encoding=UTF-8
Name=Zenmap (as root)
GenericName=GUI Port Scanner
TryExec=su-to-zenmap.sh
Exec=su-to-zenmap.sh %F
Terminal=false
Icon=zenmap
Type=Application
Categories=Application;Network;Security;
Comment=A cross-platform GUI for the Nmap Security Scanner.
